.Contacts-container {
  padding: 15px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 900px;
  height: 100vh;
  margin: 0 auto;
}

.Contacts-container > div {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  color: black;
}

.Contacts-container > div section {
  width: 100%;
}

.phone-container,
.physical-address-container,
.socials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: white;
  text-align: center;
  padding: 15px 0%;
}

.phone-container > div,
.physical-address-container > div,
.socials-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.phone-container > div svg,
.physical-address-container > div svg,
.socials-container > div svg {
  font-size: 3rem;
  color: hotpink;
}

/* Address */

.phone-container > p,
.physical-address-container > p,
.socials-container > p {
  font-family: monospace;
  font-size: 1.3rem;
}

/* Phones */
.phone-numbers {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* SOCIALS */
.socials {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.socials svg {
  font-size: 1.5rem;
}

.socials > p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.socials span {
  width: 100%;
  text-align: start;
}

.socials span:hover {
  text-decoration: underline;
}

.socials p:first-child > a {
  color: blue;
}

.socials p:nth-child(2) > a {
  color: red;
}

.socials p:nth-child(3) > a {
  color: green;
}

.socials p:last-child > a {
  color: green;
}

.socials p > a:hover {
  color: black;
}

/* Bottom half */
.Contacts-container > section {
  display: flex;
  gap: 15px;
}

.Contacts-container > section div {
  color: white;
  height: max-content;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Contacts-container > section div h3 {
  border-bottom: 2px solid white;
  width: fit-content;
  margin: 0 auto;
}

.Contacts-container > section div ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Contacts-container > section div ul li {
  color: black;
  font-weight: bold;
}

.Contacts-container > section div ul li i {
  font-weight: normal;
}

/* Form */
.contact-form-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 auto;
  text-align: center;
  color: white;
  padding: 20px;
  padding-top: 50px;
}

.contact-form-container h2 {
  font-size: 3.5rem;
}

.contact-form-container > p {
  padding: 10px;
  background-color: red;
}

.contact-form-container > p a {
  color: yellow;
}

.contact-form-container > p a:hover {
  border-bottom: 1px solid white;
}

.contact-form-container > p.success {
  background-color: green;
}

.contact-form-container > p.invinsible {
  display: none;
}

.contact-form-container input {
  padding: 15px 10px;
}

.contact-form-container textarea {
  padding: 12px 10px;
  resize: none;
  height: 22rem;
}

.contact-form-container button {
  width: 100px;
  margin: 0 auto;
  padding: 5px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1400px) {
  .Contacts-container {
    justify-content: center;
    height: 100vh;
    padding-top: 3.5%;
  }

  .phone-container,
  .physical-address-container,
  .socials-container {
    gap: 10px;
    padding: 10px 0;
  }

  .phone-container > div,
  .physical-address-container > div,
  .socials-container > div {
    gap: 5px;
  }
}

@media screen and (max-width: 1200px) {
  .Contacts-container {
    gap: 15px;
    justify-content: center;
    max-width: 800px;
  }

  .phone-container,
  .physical-address-container,
  .socials-container {
    gap: 10px;
    padding: 8px 0;
  }

  .phone-container > div,
  .physical-address-container > div,
  .socials-container > div {
    gap: 10px;
  }

  .phone-container > div svg,
  .physical-address-container > div svg,
  .socials-container > div svg {
    font-size: 2.7rem;
  }

  .contact-form-container {
    padding: 10px;
    gap: 10px;
  }

  .contact-form-container input {
    padding: 12px 10;
  }

  .contact-form-container h2 {
    font-size: 2.8rem;
  }

  .contact-form-container textarea {
    height: 110px;
  }
}

@media screen and (max-width: 768px) {
  .corner-button button {
    padding: 3px 15px;
  }

  .Contacts-container {
    gap: 15px;
    justify-content: center;
  }

  .contact-form-container {
    padding-top: 20px;
    gap: 12px;
  }

  .phone-container,
  .physical-address-container,
  .socials-container {
    gap: 10px;
    padding: 10px 0;
  }

  .phone-container > div,
  .physical-address-container > div,
  .socials-container > div {
    gap: 10px;
  }

  .phone-container > div svg,
  .physical-address-container > div svg,
  .socials-container > div svg {
    font-size: 2.5rem;
  }

  .contact-form-container {
    padding: 15px;
  }

  .contact-form-container h2 {
    font-size: 2.5rem;
  }

  .contact-form-container input {
    padding: 12px;
  }

  .contact-form-container textarea {
    height: 120px;
  }
}

@media screen and (max-width: 576px) {
  .Contacts-container {
    height: auto;
    min-height: 100vh;
    padding-top: 10%;
  }

  .Contacts-container > div {
    flex-direction: column;
    gap: 10px;
  }

  .Contacts-container > section {
    flex-direction: column;
  }

  .contact-form-container {
    align-items: normal;
    padding: 10px;
    margin: 0;
  }
}
